name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main


jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install dependencies
        run: make install_dev
      - name: Run Lint
        run: make lint
      - name: Run Format
        run: make format
      - name: Run Test
        run: make test
        env:
          TIDB_HOST: gateway01.ap-southeast-1.prod.alicloud.tidbcloud.com
          TIDB_PORT: 4000
          TIDB_USERNAME: ${secrets.TIDB_USERNAME}
          TIDB_PASSWORD: ${secrets.TIDB_PASSWORD}
          TIDB_DATABASE: test
          OPENAI_API_KEY: ${secrets.OPENAI_API_KEY}
